*
  box-sizing: border-box
body
  +reg
img
  max-width: 100%
.container
  width: 1170px
  margin: auto

@media (max-width: 1200px)
  .navbar
    &__contacts
      display: none
  .container
    width: 760px
@media (max-width: 768px)
  .container
    max-width: 580px
    width: 90%

.button
  border-radius: 10px
  background-color: $main-color
  padding: 18px 30px
  margin: 1px1
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
    border: none
    outline: none
.section
  padding: 88px 0 100px
  &-title
    font-size: 24px
    +bold
    text-align: center
    max-width: 800px
  &-subtitle
    display: block
    font-size: 16px
.unit
  padding: 54px 0 89px
  &-title
    font-size: 24px
    +bold
    text-align: center
    max-width: 800px
  &-subtitle
    display: block
    font-size: 16px
.stages
  padding: 23px 0 100px
  &-title
    font-size: 24px
    +bold
    text-align: center
    max-width: 800px
  &-subtitle
    display: block
    font-size: 16px

.input
  border: 1px solid $border-input
  padding: 20px 26px
  font-size: 15px
  border-radius: 10px
.arrows
  &__left, &__right
    &:hover
      cursor: pointer

